/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@font-face {
	font-family: Gilbert;
	src: url(../assets/gilbert-color.otf);
	font-weight: 700;
}

.wp-block-create-block-wp-dos-dialog {
	background-color: #ACAEAD;
	box-shadow: 10px 10px 0 #000000;
	font-family: Gilbert, sans-serif;
	font-size: 18px;
	padding: 12px 0 12px 0;
	position: relative;

	.wp-dos-dialog-title {
		background-color: #ACAEAD;
		border: solid #333534;
		border-width: 0 2px 0 2px;
		left: 50%;
		position: absolute;
		top: 0;
		translate: (-50% 0);
	}

	.wp-dos-dialog-inner {
		border: 2px solid #333534;
		margin: 0 6px 0 6px;
	}
}
